@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500");

body {
	margin: 0;
	padding: 0;
	font-family: "Roboto", sans-serif;
	font-size: 16px;
}

html {
	overflow: scroll;
	overflow-x: hidden;
	-ms-overflow-style: none;
	scrollbar-width: none;
}

::-webkit-scrollbar {
	display: none;
}

.navbar-cont {
	display: none !important;
}
